.chat{
    flex: 69%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.mock{
    flex: 1;
}
.send{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 1;
    align-items: center;
}
