.content{
    margin-top: 50px;
    display: flex;
    width: 100%;
    gap: 20px;
}
.preview{
    flex: 74%;
}

.createPostMenu{
    flex: 26%;
}
.result{
    width: 50%;
    margin-top: 20px;

}
.resultBlock{
    display: flex;
    justify-content: center;
}
.resultBlockWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}