.button{
    width: 100%;
    height: 32px;
    background: #655f89;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    border: 0px;
    color: white;
    text-transform: uppercase;
}
.button:hover{
    background: #080036b5;
    transition: 0.3s;
}