.createPostMenu{
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 16px;
}
.createPostMenu h1{
    font-weight: 400;
    font-size: 16px;
    color: rgba(8, 0, 54, 0.52);
    margin-bottom: 12px;
}
.createPostMenu label{
    font-size: 12px;
    line-height: 15px;
    color: rgba(8, 0, 54, 0.52);
}
.uploadPhoto{
    height: 64px;
    border: 2px dashed rgba(8, 0, 54, 0.52);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.photoIcon{
    width: 40px;
    height: 40px;
    color: rgba(8, 0, 54, 0.52);
    transition: 0.3s;

}

.uploadPhoto:hover .photoIcon{
    transform: scale(1.1);
    transition: 0.3s;
    transition-timing-function: ease-in-out
}

.textArea{
    height: 98px;
    border: 2px solid rgba(8, 0, 54, 0.52);
    border-radius: 8px;
    resize: none;
    padding: 9px;
    width: 196px;
}
.textArea:focus{
    outline: none;
}
.inputBlock {
    margin-top: 12px;
}
.button{
    font-weight: 700;
    font-size: 16px;
    height: 35px;
    color: #FFFFFF;
    background: rgba(8, 0, 54, 0.52);
    border: 0px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.disableButton{
    font-weight: 700;
    font-size: 16px;
    height: 35px;
    color: #FFFFFF;
    background: rgba(162, 162, 162, 0.52);
    border: 0px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}