@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
   font-family: 'Inter';
   margin: 0;
}

.container{
   width: 1002px;
   margin: auto;
   position: relative;
   margin-top: 12px;

}
.row{
   display: flex;
   padding: 0px 18px 0px 18px;
}



@media screen and (max-width: 1400px) {
   .container{
      width: 690px;
   }
}

@media screen and (max-width: 1300px) {
   .container{
      width: 1000px;
   }
}


@media screen and (max-width: 992px) {
   .container{
      width: 80%;
   }
}


@keyframes toTop {
   to{
      transform: translateY(-2080px) scale(1.5);
   }
}
